h1 {
    color: brown;
}

h2 {
    color: blue;
}

dd {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: blueviolet;
}